.register-form {
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;

  &__login {
    margin-top: 12px;
    text-align: center;
  }
}
